@import '_common';
.jst-login {
    width: 400px;
    height: 300px;
    margin: 200px auto;
    input {
        margin-top: 20px;
        width: 300px;
        height: 36px;
    }
    span {
        color: red;
        margin-top: 5px;
    }
}
.nav {
    margin: 50px 60px;
    clear: both;
    .list-btns {
        float: left;
    }
    .add-btns {
        float: right;
    }
    .nav-btn {
        width: 120px;
        height: 36px;
        margin-right: 16px;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 111;
}

.modal {
    width: 600px;
    height: 800px;
    z-index: 222;
}
