html, button {
    font-family: "Helvetica", "Tahoma", "Microsoft Yahei";
}

body {
  background-color: #ebebeb;
  margin: 0;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, ul, table, td {
  margin: 0;
  padding: 0;
}
a {
    color: #1797f7;
    cursor: pointer;
    text-decoration: none;
}
button {
    border-style: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    box-sizing: content-box;
    padding: 0;
}
input {
    border: 1px solid #d6d6d6;
    box-sizing: content-box;
    height: 18px;
    padding: 6px 10px;
    vertical-align: middle;
    &:hover {
        border-color: #ccc;
    }
    &:focus {
        border-color: #24a4ff;
    }
    &.error {
        border-color: #ff5253;
    }
}
span {
    display: inline-block;
}
@font-face {
  font-family: 'jstfont';
  src:  url('fonts/jst.eot');
  src:  url('fonts/jst.eot#iefix') format('embedded-opentype'),
    url('fonts/jst.ttf') format('truetype'),
    url('fonts/jst.woff') format('woff'),
    url('fonts/jst.svg#jst') format('svg');
  font-weight: normal;
  font-style: normal;
}
.jstfont {
    font-family: 'jstfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    color: #fff;
    cursor: pointer;
    background-color: #29e;
    font-size: 18px;
    &:hover{
        background-color:#2af;
    };
}

.hide {
    display: none;
}

.jst-login {
    width: 400px;
    height: 300px;
    margin: 200px auto;
    input {
        margin-top: 20px;
        width: 300px;
        height: 36px;
    }
    span {
        color: red;
        margin-top: 5px;
    }
}

.nav {
    margin: 50px 60px;
    clear: both;
    .list-btns {
        float: left;
    }
    .add-btns {
        float: right;
    }
    .nav-btn {
        width: 120px;
        height: 36px;
        margin-right: 16px;
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 111;
}

.modal {
    border-radius: 2px;
    background-color: #fff;
    color: #666;
    width: 600px;
    z-index: 222;
    padding: 16px;
    position: absolute;
    top: 100px;
    .modal-head {
        height: 28px;
        line-height: 28px;
        clear: both;
        font-size: 12px;
        color: #333;
        .modal-title {
            float: left;
        }
        .modal-close {
            float: right;
            &.jstfont:before {
                color: #666;
                content: '\e964';
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
    .modal-body {
        max-height: 800px;
        div {
            width: 300px;
            margin: 8px auto;
            span {
                width: 84px;
            }
        }
    }
    .modal-footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        .btn {
            border-radius: 2px;
            border-style: none;
            font-size: 12px;
            margin-right: 10px;
            width: 60px;
        }
    }
}
