html, body {
    width: 100%;
    height: 100%;
}

html, button {
    font-family: "Helvetica", "Tahoma", "Microsoft Yahei";
}

body {
  margin: 0;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, ul, table, td {
  margin: 0;
  padding: 0;
}
a {
    color: #1797f7;
    cursor: pointer;
    text-decoration: none;
}
button {
    border-style: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    box-sizing: content-box;
    padding: 0;
}
input {
    border: 1px solid #d6d6d6;
    box-sizing: content-box;
    height: 18px;
    padding: 6px 10px;
    vertical-align: middle;
    &:hover {
        border-color: #ccc;
    }
    &:focus {
        border-color: #24a4ff;
    }
    &.error {
        border-color: #ff5253;
    }
}
span {
    display: inline-block;
}
ul {
    list-style: none;
}
@font-face {
  font-family: 'jstfont';
  src:  url('fonts/jst.eot');
  src:  url('fonts/jst.eot#iefix') format('embedded-opentype'),
    url('fonts/jst.ttf') format('truetype'),
    url('fonts/jst.woff') format('woff'),
    url('fonts/jst.svg#jst') format('svg');
  font-weight: normal;
  font-style: normal;
}
.jstfont {
    font-family: 'jstfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.color-red {
    color: red;
}

.color-gray {
    color: #999;
}

.color-orange {
    color: orange;
}

.jst-text-center {
    text-align: center;
}

.btn {
    color: #fff;
    cursor: pointer;
    background-color: #29e;
    font-size: 18px;
    &:hover{
        background-color:#2af;
    };
}

.hide {
    display: none;
}

.jst-login {
    width: 400px;
    height: 300px;
    margin: 200px auto;
    input {
        margin-top: 20px;
        width: 300px;
        height: 36px;
    }
    span {
        color: red;
        margin-top: 5px;
    }
}

.jst-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #ebebeb;
    .jst-personal-info {
        float: left;
        margin-left: 20px;
        margin-top: 12px;
    }
    .jst-oper {
        float: right;
        margin-top: 12px;
        margin-right: 20px;
    }
}

.nav {
    padding: 50px 60px;
    clear: both;
    .list-btns {
        float: left;
    }
    .add-btns {
        float: right;
    }
    .nav-btn {
        width: 120px;
        height: 36px;
        margin-right: 16px;
    }
}

span {
    &.jst-personal-order-info {
        margin:20px 20px;
    }
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 111;
}

.modal {
    border-radius: 2px;
    background-color: #fff;
    color: #666;
    width: 600px;
    z-index: 222;
    padding: 16px;
    position: fixed;
    top: 100px;
    .modal-head {
        height: 28px;
        line-height: 28px;
        clear: both;
        font-size: 12px;
        color: #333;
        .modal-title {
            float: left;
        }
        .modal-close {
            float: right;
            &.jstfont:before {
                color: #666;
                content: '\e964';
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
    .modal-body {
        max-height: 800px;
        div {
            width: 300px;
            margin: 8px auto;
            .jst-info-span {
                width: auto;
                margin-right: 20px;
            }
            &.jst-mem-info {
                width: auto;
                .mem-list {
                    float: left;
                    width: 49%;
                    + .mem-list{
                        margin-left: 10px;
                    }
                    li {
                        height: 26px;
                        line-height: 26px;
                        padding-left: 8px;
                        &.info-title {
                            background-color: #ebebeb;
                        }
                        span + span {
                            margin-left: 16px;
                        }
                    }
                }
                &:after {
                    content: '';
                    clear:both;
                    display: block;
                }
            }
            &#queryMember {
                position: relative;
                ul {
                    background-color: #fff;
                    overflow: auto;
                    &.jst-mem {
                        border: 1px solid #d6d6d6;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 2);
                        position: absolute;
                        left: 84px;
                        top: 31px;
                        max-height: 200px;
                    }
                    li {
                        cursor: pointer;
                        height: 26px;
                        line-height: 26px;
                        padding: 0 10px;
                        + li {
                            border-top: 1px solid #d6d6d6;
                        }
                        &:hover {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
            span {
                width: 84px;
                vertical-align: middle;
                &.jst-msg {
                    width: 200px;
                }
                &.jst-amount {
                    width: 50px;
                }
                &.jst-mem-balance {
                    color: #23c145;
                    position: absolute;
                    top: 6px;
                    left: 280px;
                    width: 500px;
                }
            }
            textarea {
                vertical-align: middle;
            }
            select {
                width: 190px;
                padding: 6px 8px;
                border-color: #d6d6d6;
            }
        }
    }
    .modal-footer {
        height: 40px;
        line-height: 40px;
        text-align: center;
        .btn {
            border-radius: 2px;
            border-style: none;
            font-size: 12px;
            margin-right: 10px;
            width: 60px;
        }
    }
}
#listMain {
    width: 100%;
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            height: 40px;
            text-align: left;
            td, th {
                border-top: 1px solid #d6d6d6;
                &.first-td {
                    padding-left: 20px;
                }
                a {
                    margin-right: 4px;
                }
            }
        }
        thead {
            background-color: #ebebeb;
        }
        tbody {
            tr {
                cursor: pointer;
                &:hover {
                    background-color: #f8f8f8;
                }
            }
        }
    }
}
